@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    height: 72px;
    background: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    padding-left: 30px;
}

.row1 {
    background: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 30px;
    flex-wrap: wrap;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 8px;
    width: 100px;
    height: auto;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
    padding-right: 30px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;

}

button {
    background: #3882F6;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    width: 125px;
    margin-bottom: 10px;
}